.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// 一般用于列表搜索块的通用样式
.ui-search-header-block {
  border-radius: 5px;
  background: white;
  position: relative;
  padding-top: 10px;
  padding-right: 110px;

  &.dark {
    background: #f5f7fc;
  }

  .btn-search {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .el-form-item--medium {
    margin-bottom: 10px;
  }
}
